.width{
    width: 99%;
    
}
h1{
    text-align: center;
}
label,input{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
strong{
    color: rgb(46, 91, 117);
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
button{
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(46, 91, 117);
    color: white;
    padding: .3rem 0;
    border: none;
    border-radius: 4px;
}
.fa-book-open{
    color: rgb(46, 91, 117);
}
li{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    margin-top: 1rem;
    align-items: center;
    padding: 0px .5rem;

}
ul{
    padding-left: 0px;
    
}
span{
    color: red;
    font-size: 2rem;
}
.tag{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    padding: 0px .5rem;
}
small{
    font-weight: 800;
    font-size: 1rem;
}